<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>W001A</key>
	<array/>
	<key>W001B</key>
	<array/>
	<key>W001C</key>
	<array/>
	<key>W002A</key>
	<array/>
	<key>W002B</key>
	<array>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>ELECTRICITY</string>
		<string>SHORTPACKAGE</string>
	</array>
	<key>W002C</key>
	<array>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>LIGHT</string>
		<string>ELECTRICITY</string>
		<string>SHORTPACKAGE</string>
	</array>
	<key>W002D</key>
	<array/>
	<key>W002E</key>
	<array>
		<string>WARN</string>
		<string>LOST</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>PHOTOGRAPH</string>
		<string>ELECTRICITY</string>
		<string>SHORTPACKAGE</string>
	</array>
	<key>W002F</key>
	<array>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>ELECTRICITY</string>
		<string>SHORTPACKAGE</string>
	</array>
	<key>W002G</key>
	<array>
		<string>WARN</string>
		<string>LOST</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>PHOTOGRAPH</string>
		<string>ELECTRICITY</string>
		<string>SHORTPACKAGE</string>
	</array>
	<key>W079A</key>
	<array>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>LIGHT</string>
		<string>ELECTRICITY</string>
		<string>SHORTPACKAGE</string>
		<string>BOUND</string>
	</array>
	<key>W007A</key>
	<array>
		<string>WARN</string>
		<string>PHOTOGRAPH</string>
		<string>NOTICE</string>
		<string>LOST</string>
	</array>
	<key>W007C</key>
	<array>
		<string>WARN</string>
		<string>PHOTOGRAPH</string>
		<string>LOST</string>
	</array>
	<key>W032A</key>
	<array>
		<string>WARN</string>
		<string>HEARTRATE</string>
		<string>NOTICE</string>
		<string>LOST</string>
	</array>
	<key>W027B</key>
	<array>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>FAMILY</string>
	</array>
	<key>W077A</key>
	<array>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>ELECTRICITY</string>
		<string>BOUND</string>
	</array>
	<key>W034C</key>
	<array>
		<string>WARN</string>
		<string>HEARTRATE</string>
		<string>NOTICE</string>
		<string>ELECTRICITY</string>
	</array>
</dict>
</plist>
